<br />
<br />
<br />

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
</head>

<body >



    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron bg-image"   style="background-image: url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVzdGF1cmFudCUyMGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80'); height: 100vh;">
            <div class="container">
                <h1 class="display-3"></h1>
                <p></p>
                
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>John Safer</h2>
                    <p> John safer a man with dreams of having three Michelin Stars and the original founder of "The Catering" would later rebrand as "The Chapter" with a new found partnership with Luke von strauss due to his business failing. </p>
                   
                </div>
                <div class="col-md-4">
                    <h2>Luke Von Strauss</h2>
                    <p>A man who had no equal in marketing, Luke Von Strauss would find new and fun ways to advertise the restaurant which would later lead to its success, and would hire a chef with great passion called Adam Cramer  </p>
                    
                </div>
                <div class="col-md-4">
                    <h2>Adam Cramer</h2>
                    <p>A no name chef with great passion Adam Cramer would find new inventive ways to make food, at a serving size three times as big as other restaurants while maintaing Michelin Star quality food.</p>
                    
                </div>
            </div>

            <hr>

        </div> <!-- /container -->

    </main>

    <br />

    <br />

    <br />
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>