
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <style>
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
            font-size: 15px;
        }


        form {
            width: 400px;
            margin: auto;
        }

        .button {
            text-align: center;
        }
        .textboxes{
             max-width: 180px;
            min-width: 180px;
            width: 180px !important;
            text-align-last: center;
            margin-left: auto !important;
            margin-right: auto !important;
            text-align: center;
        }
    </style>

    <h2>Forgot Password</h2>
    <div class="textboxes">
    <input type="text" name="emailID" placeholder="Please enter Email" required="">
    </div>
    
    //if email is incorrect
    var error = TempData["Error"] as string;
    @if (!string.IsNullOrEmpty(error))
{
<h2 class="alert-danger" style="padding:20px;">@error</h2>
}

    //Start function to add data to db
    <div class="button">
        <input type="submit" value="Submit" asp-action="ForgotPass"/>
    </div>
}

