@model WebApplication2.Models.UserClass

@{
}
<h1>User Registration</h1>

<div class="row container login-container" style="background-image: url('https://images.squarespace-cdn.com/content/v1/57311fcc7da24f07c2cda0a0/1554258314124-PKM3OUWSGUGBLXKVVCER/ke17ZwdGBToddI8pDm48kMg31_G9StrSH3mLgCBodIt7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0vApyh6NsI3juLutxTva2hgNx1ii9tPa4ptU_hfT1TWxIsYzDh4O0SnU0lw9r7L2EQ/Amano%252B_099.jpg?format=2500w'); background-size: cover; ">
    <div class="col-md-6 login-form-2">
        <form method="post">
            @*Create form fields*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="firstname">First Name</label>
                <input asp-for="firstname" class="form-control" />
                <span asp-validation-for="firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastname">Last Name</label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="number">Phone Number</label>
                <input asp-for="number" class="form-control" />
                <span asp-validation-for="number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password"></label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmpassword">Re-enter Password</label>
                <input asp-for="confirmpassword" class="form-control" type="password" />
                <span asp-validation-for="confirmpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob">Date of Birth</label>
                <input asp-for="dob" class="form-control" type="date" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <br /><br />
        <h2 style="font-style:italic; color:deeppink">@ViewBag.Result</h2>
    </div>
</div>




<br />

<br />

<br />