@model WebApplication2.Models.UserClass

@{ var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string; }



<h1>User Registration</h1>

@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding:20px;">@error</h2>}

<div class="row container login-container" style="background-image: url('https://images.squarespace-cdn.com/content/v1/57311fcc7da24f07c2cda0a0/1554258314124-PKM3OUWSGUGBLXKVVCER/ke17ZwdGBToddI8pDm48kMg31_G9StrSH3mLgCBodIt7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0vApyh6NsI3juLutxTva2hgNx1ii9tPa4ptU_hfT1TWxIsYzDh4O0SnU0lw9r7L2EQ/Amano%252B_099.jpg?format=2500w'); background-size: cover; ">
    <div class="col-md-9">
        <form method="post">
            @*Create form fields*@
            <div asp-validation-summary="ModelOnly" class="text-dark"></div>
            <div class="form-group  ">
                <label asp-for="firstname" class="p-2 bg-warning">First Name</label>
                <input asp-for="firstname" class="form-control" />
                <span asp-validation-for="firstname" class="text-dark "></span>
            </div>
            <div class="form-group  ">
                <label asp-for="lastname" class="p-2 bg-warning">Last Name</label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-dark"></span>
            </div>
            <div class="form-group ">
                <label asp-for="username" class="p-2 bg-warning"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-dark"></span>
            </div>
            <div class="form-group ">
                <label asp-for="email" class="p-2 bg-warning"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-dark"></span>
            </div>
            <div class="form-group ">
                <label asp-for="number" class="p-2 bg-warning">Phone Number</label>
                <input asp-for="number" class="form-control" />
                <span asp-validation-for="number" class="text-dark"></span>
            </div>
            <div class="form-group ">
                <label asp-for="password" class="p-2 bg-warning"></label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-dark"></span>
            </div>
            <div class="form-group ">
                <label asp-for="confirmpassword" class="p-2 bg-warning">Re-enter Password</label>
                <input asp-for="confirmpassword" class="form-control" type="password" />
                <span asp-validation-for="confirmpassword" class="text-dark"></span>
            </div>
            <div class="form-group ">
                <label asp-for="dob" class="p-2 bg-warning">Date of Birth</label>
                <input asp-for="dob" class="form-control" type="date" />
                <span asp-validation-for="dob" class="text-dark"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <br /><br />
        <h2 style="font-style:italic; color:deeppink">@ViewBag.Result</h2>
    </div>
</div>

<br />

<br />

<br />