
@{
    ViewData["Title"] = "resetpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>resetpassword</h1>
@using (Html.BeginForm())
{
    <style>
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
            font-size: 15px;
        }


        form {
            width: 400px;
            margin: auto;
        }

        select {
            max-width: 180px;
            min-width: 180px;
            width: 180px !important;
            text-align-last: center;
        }

        .boxes {
            max-width: 180px;
            min-width: 180px;
            width: 180px !important;
            text-align-last: center;
            margin-left: 110px;
            margin-right: auto;
            text-align: center;
        }

        .info {
            margin: auto;
            text-align: center;
        }

        .button {
            margin-left: 135px;
            margin-right: auto;
            text-align: center;
        }
        label {
            margin-left: 110px;
            margin-right: auto;
            text-align: center;
        }
        .vallabel {
            text-align: center;
            color: white;
            margin-left: 110px;
            margin-right: auto;
        }
    </style>

    var test = TempData["Guidid"] as string;


        <div>
            <br />
            <form>
                <div>
                    <label>Password:</label>
                    <input type="password" class="boxes" id="password" name="change_password" placeholder="Password" required="" />
                </div>
                <br />
                <div>
                    <label>Confirm Password:</label>
                    <input type="password" class="boxes" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required="" onchange="check(this)" />
                </div>

                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        if (input.value != (document.getElementById('password').value)) {
                            input.setCustomValidity('Password Must be Matching.');
                            document.getElementById('checklabel').style.color = 'red';
                            document.getElementById('button').disabled = true;
                        } else {
                            // input is valid -- reset the error message
                            input.setCustomValidity('');
                            document.getElementById('checklabel').style.color = 'white';
                            document.getElementById('button').disabled = false;
                        }
                    }
                </script>
                <label id="checklabel" class="vallabel">Password Must be Matching.</label>
                <button type="submit" id="button" class="button" asp-action="restpasswordfunction">Change Password</button>
                <span id='message'></span>

            </form>



        </div>

        }

