
@{
    ViewData["Title"] = "resetpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>resetpassword</h1>
@using (Html.BeginForm())
{
    <style>
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
            font-size: 15px;
        }


        form {
            width: 400px;
            margin: auto;
        }

        select {
            max-width: 180px;
            min-width: 180px;
            width: 180px !important;
            text-align-last: center;
        }

        .ResClass {
            max-width: 180px;
            min-width: 180px;
            width: 180px !important;
            text-align-last: center;
            margin-left: 110px;
            margin-right: auto;
            text-align: center;
        }

        .Timepick {
            max-width: 180px;
            min-width: 180px;
            width: 180px !important;
            text-align-last: center;
            margin-left: 110px;
            margin-right: auto;
            text-align: center;
        }

        .info {
            margin: auto;
            text-align: center;
        }

        .button {
            text-align: center;
        }
    </style>

    var test = TempData["Guidid"] as string;
    <h1 class="alert-danger" style="padding:20px;">@test</h1>
}

